
h1{
  color: rgb(255, 0, 0);
  text-transform: capitalize;
  text-align: center;
}


.general{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.derecha{
  text-align: right;
}
.izquierda{
  text-align: left;
}

.abilities{
  color: rgb(59, 161, 161);
}

.pokedexContainer{
  display: flex;
  flex-wrap: wrap;
}